@charset "UTF-8";

html { font-family: "Noto Sans JP"; }

a {
  color: #FFF;
  text-decoration: none;
}

body {
  display: flex;
  background-color: #F2F2F2;
}

.container {
  width: 80%;
  margin-left: auto;
}

p {
  line-height: 1.5;
}

 main section {
  margin-top: 100px;
}

/******************
  header
******************/
header {
  background-color: #0C1C27;
  width: 20%;
  height: 100vh;
  /* padding: 0.5rem 1rem; */
  text-align: center;
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

header .logo img {
  width: 70%;
  margin-top: 50px;
  margin-bottom: 150px;
}

header nav ul li{
  margin-bottom: 50px;
}

header nav ul li a {
  font-size: 18px;
  font-weight: bold;
  position: relative;
}

header nav ul li a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #50AEF6;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}

header nav ul li a:hover {
  font-size: 20px;
  color: #50AEF6;
  transition: all 0.2s;
}

header nav ul li a:hover::after {
  transform: scale(1, 1);
}

/******************
  main-visual
******************/
main {
  width: 100%;
}
main .main-visual {
  width: 80%;
  height: 60vh;
  margin: 50px auto;
  padding: 30px 30px;
  border-radius: 30px;
  justify-content: space-between;
  background: linear-gradient(#1F3654, 25% , #0C1C27);
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  text-align: right;
}

main .main-visual .main-visual-text {
  text-align: left;
  color: #FFFFFA;
  position: absolute;
  top: 30%;
  left: 100px;
  transform: translateY(30%);
}

main .main-visual .main-visual-text h1 {
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Poiret One', cursive;
  font-size: 70px;
  border-bottom: 3px solid #50AEF6;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

main .main-visual .main-visual-text p {
  font-family: 'Poiret One', cursive;
  font-size: 30px;
}

main .main-visual .moon {
  width: 80%;
  position: absolute;
  top: -20%;
  right: -15%;
}

main .main-visual .cloud1 {
  position: absolute;
  top: 20px;
  right: -30px;
  width: 30%;
  transform: rotate(180deg);
}

main .main-visual .cloud2 {
  position: absolute;
  bottom: -5%;
  right: 27%;
  width: 35%;
}

/******************
  wories
******************/
main .worries {
  width: 80%;
  margin: auto;
}

main .worries h2 {
  font-size: 25px;
  width: 70%;
  margin: 0 auto 50px;
  text-align: center;
  color: #FFF;
  background-color: #0C1C27;
  padding: 30px 0;
  border-radius: 15px;
  position: relative;
}

main .worries h2::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -19px;
  left: 0;
  width: 0px;
  height: 0px;
  margin: auto;
  border-style: solid;
  border-color: #0C1C27 transparent transparent transparent;
  border-width: 20px 20px 0 20px;
  border-radius: 3px;
}

main .worries .worries-content-wrapper {
  display: flex;
  justify-content: space-around;
}

main .worries .worries-content-wrapper .worries-content {
  color: #0C1C27;
  width: 25%;
}

main .worries .worries-content-wrapper .worries-content-img {
  width: 50%;
  margin: 0 auto 30px;
  background-color: #FFF;
  border-radius: 50%;
  padding: 50px;
}

main .worries .worries-content-wrapper .worries-content-img img {
  width: 100%;
}

main .worries .worries-content-wrapper .worries-content p {
  font-size: 20px;
  font-weight: bold;
}

main .solution {
  width: 70%;
  margin: auto;
  text-align: center;
  margin-top: 200px;
  position: relative;
}

main .solution::before {
  color: #0C1C27;
  position: absolute;
  top: -130px;
  left: 50%;
  font-family: "Font Awesome 5 Free";
  content: '\f103';
  font-weight: 900;
  font-size: 5em;
  transform: translateX(-50%);
}

.solution .solution__title span {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  color: #4C5253;
}

.solution .solution__title span::before {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: -30px;
  transform: rotate(50deg);
  width: 25px;
  height: 3px;
  border-radius: 5px;
  background-color: #4C5253;
  content: "";
}

.solution .solution__title span::after {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: -30px;
  transform: rotate(-50deg);
  width: 25px;
  height: 3px;
  border-radius: 5px;
  background-color: #4C5253;
  content: "";
}

.solution .solution__title h2 {
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 30px;
  color: #2FC1FF;
}

.solution .solution__title p {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  color: #0C1C27;
  margin-bottom: 50px;
}

.solution .solution__content-wrapper .solution__content {
  display: flex;
  text-align: left;
  color: #0C1C27;
  background-color: #FFF;
  border-radius: 35px;
  margin-bottom: 30px;
}

.solution .solution__content-wrapper .solution__content > span {
  width: 10%;
  font-size: 70px;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.solution .solution__content-wrapper .solution__content .solution__content-text {
  width: 60%;
  margin: 50px;
}

.solution .solution__content-wrapper .solution__content h2 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 25px;
}

.solution .solution__content-wrapper .solution__content .solution__content-text h2 span {
  color: #2FC1FF;
}

.solution .solution__content-wrapper .solution__content p {
  font-size: 20px;
}

.solution .solution__content-wrapper .solution__content .solution__content-img {
  width: 30%;
  text-align: right;
  margin-right: 100px;
}

.solution .solution__content-wrapper .solution__content .solution__content-img img {
  width: 80%;
}
/******************
  price-chart
******************/
main .price-chart {
  background-image: url(../images/price-chart-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  padding-bottom: 80px;
}

main .price-chart .section-title {
  color: #ffffff;
  padding: 80px;
}

/******************
  work
******************/
.works {
  width: 70%;
  margin: 80px auto 0;
  text-align: center;
}

.works .works_list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.works .works_list .works_item {
  width: 40%;
  margin: 50px auto 0;
}

.works .works_list .works_item img {
  width: 100%;
  border-radius: 30px 30px 0 0;
}

.works .works_list .works_item .works_item-text {
  background-color: #FFF;
  border-radius: 0 0 30px 30px;
}

.works .works_list .works_item h3 {
  font-size: 25px;
  font-weight: normal;
  text-align: center;
  padding-top: 30px;
  color: #333;
}

.works .works_list .works_item p {
  padding: 15px 30px;
  color: #333;
  text-align: left;
}

/******************
  news
******************/
.news {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #FFF;
  text-align: center;
}

.news .news_list {
  width: 60%;
  margin: 50px auto 0;
  text-align: left;
}

.news .news_list .news_item {
  padding: 20px 30px;
  font-size: 18px;
  border-bottom: 1px solid #DDD;
  list-style: none;
}

.news .news_list .news_item:hover {
  background-color: #F2F2F2;
  transition: all 1.5s;
}

.news .news_list .news_item a {
  color: #333;
}

.news .news_list .news_item a span {
  font-size: 16px;
  color: #888;
  margin-right: 50px;
}

/******************
  footer
******************/
footer {
  background: linear-gradient(90deg, #0C1C27 , #1F3654);
  padding: 30px 100px;
}

footer img {
  width: 15%;
}