@charset "UTF-8";

html { font-family: "Noto Sans JP"; }

a {
  color: #FFF;
  text-decoration: none;
}

body {
  display: flex;
  background-color: #0C1C27;
}

.container {
  width: 80%;
  margin-left: auto;
}

p {
  line-height: 1.5;
  color: #F2F2F2;
}

main section {
  margin-top: 100px;
  position: relative;
  z-index: 2;
  height: 100vh;
}

/******************
  header
******************/
header {
  background-color: #0C1C27;
  width: 20%;
  height: 100vh;
  /* padding: 0.5rem 1rem; */
  text-align: center;
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

header .logo img {
  width: 70%;
  margin-top: 50px;
  margin-bottom: 150px;
}

header nav ul li{
  margin-bottom: 50px;
}

header nav ul li a {
  font-size: 18px;
  font-weight: bold;
  position: relative;
}

header nav ul li a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #50AEF6;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}

header nav ul li a:hover {
  font-size: 20px;
  color: #50AEF6;
  transition: all 0.2s;
}

header nav ul li a:hover::after {
  transform: scale(1, 1);
}

/******************
  main-visual
******************/
main {
  width: 100%;
}
main .main-visual {
  /* width: 80%; */
  height: 100vh;
  /* margin: 50px auto; */
  margin-top: 0;
  /* padding: 30px 30px; */
  /* border-radius: 30px; */
  justify-content: space-between;
  background: linear-gradient(#1F3654, 25% , #0C1C27);
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  text-align: right;
}

main .main-visual .main-visual-text {
  text-align: left;
  color: #FFFFFA;
  position: absolute;
  top: 30%;
  left: 100px;
  transform: translateY(30%);
}

main .main-visual .main-visual-text h1 {
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Poiret One', cursive;
  font-size: 70px;
  border-bottom: 3px solid #50AEF6;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

main .main-visual .main-visual-text p {
  font-family: 'Poiret One', cursive;
  font-size: 30px;
}

main .moon-bg {
  width: 80%;
  position: fixed;
  top: 50%;
  right: -16%;
  transform: translateY(-50%);
  animation: fadein 1.5s ease-out forwards;
  z-index: 1;
}

@keyframes fadein {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

main .moon {
  width: 50%;
  position: absolute;
  top: 50%;
  right: -100%;
  opacity: 0;
  transform: translateY(-50%);
  transition: all 1.5s;
}

main .cloud1 {
  position: absolute;
  top: 10%;
  right: -100%;
  width: 30%;
  opacity: 0;
  transform: rotate(180deg);
  transition: all 1.5s;
}

main .cloud2 {
  position: absolute;
  bottom: 5%;
  right: -100%;
  width: 35%;
  opacity: 0;
  transition: all 1.5s;
}
main .fade-in--moon {
  opacity: 1;
  right: 5%;
}

main .fade-in--cloud1 {
  opacity: 1;
  right: 0;
  transform: translateX(0) rotate(180deg);
}

main .fade-in--cloud2 {
  opacity: 1;
  right: 27%;
}

/******************
  feature
******************/
#feature {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  width: 90%;
  height: 100vh;
  margin: auto;
  align-items: center
}

#feature .feature__text {
  width: 50%;
  /* padding-right: 30px; */
  margin-top: 50px;
}

#feature .feature__text h2 {
  font-size: 3em;
  color: #2FC1FF;
  margin-bottom: 30px;
}

#feature .feature__text p {
  font-weight: bold;
  font-size: 1.2em;
}

#feature .feature__img--sp {
  display: none;
}

#feature .feature__img--pc {
  width: 60%;
  padding-left: 30px;
}

#feature .feature__img--pc img {
  width: 100%;
}

/******************
  point
******************/
#point {
  width: 90%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(../images/chandra-point-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}

#point .point__image--sp {
  display: none;
}

#point .point__image--pc {
  width: 25%;
  margin-right: 100px;
}

#point .point__image--pc img {
  width: 100%;
}

#point .point__text {
  width: 45%;
}

#point .point__text span {
  font-weight: bold;
  color: #2FC1FF;
}

#point .point__text h2 {
  font-size: 3em;
  margin-bottom: 15px;
  color: #2FC1FF;
}

#point .point__text p {
  font-weight: bold;
  font-size: 1.5em;
  color: #f2f2f2;
  margin-bottom: 30px;
}

#point .point__text ul {
  margin-bottom: 50px;
}

#point .point__text ul li {
  color: #F2F2F2;
  font-weight: bold;
  font-size: 1.2em;
  list-style: none;
  margin-bottom: 15px;
}

#point .point__text ul li::before {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  background-color: #2FC1FF;
  border-radius: 50%;
  margin-right: 5px;
}

.point__button {
  margin-top: 30px;
}

.point__button a {
  background: #eee;
  border-radius: 3px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 280px;
  padding: 10px 25px;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-weight: bold;
}
.point__button a:after {
content: "";
position: absolute;
top: 50%;
bottom: 0;
right: 2rem;
font-size: 90%;
display: flex;
justify-content: center;
align-items: center;
transition: right 0.3s;
width: 6px;
height: 6px;
border-top: solid 2px currentColor;
border-right: solid 2px currentColor;
transform: translateY(-50%) rotate(45deg);
}
.point__button a:hover {
background: #6bb6ff;
color: #FFF;
}
.point__button a:hover:after {
right: 1.4rem;
}

main #point .fade-in--moon {
  right: 2%;
}

main #point .fade-in--cloud1 {
  right: -3%;
}

main #point .fade-in--cloud2 {
  right: 24%;
}
/******************
  price-chart
******************/
main .price-chart {
  background-image: url(../images/price-chart-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  /* padding-bottom: 80px; */
}

main .price-chart .section-title {
  color: #ffffff;
  padding: 80px;
}

/******************
  work
******************/
.works {
  width: 70%;
  margin: 80px auto 0;
  text-align: center;
}

.works .works_list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.works .works_list .works_item {
  width: 40%;
  margin: 50px auto 0;
}

.works .works_list .works_item img {
  width: 100%;
  border-radius: 30px 30px 0 0;
}

.works .works_list .works_item .works_item-text {
  background-color: #FFF;
  border-radius: 0 0 30px 30px;
}

.works .works_list .works_item h3 {
  font-size: 25px;
  font-weight: normal;
  text-align: center;
  padding-top: 30px;
  color: #333;
}

.works .works_list .works_item p {
  padding: 15px 30px;
  color: #333;
  text-align: left;
}

/******************
  news
******************/
.news {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #FFF;
  text-align: center;
}

.news .news_list {
  width: 60%;
  margin: 50px auto 0;
  text-align: left;
}

.news .news_list .news_item {
  padding: 20px 30px;
  font-size: 18px;
  border-bottom: 1px solid #DDD;
  list-style: none;
}

.news .news_list .news_item:hover {
  background-color: #F2F2F2;
  transition: all 1.5s;
}

.news .news_list .news_item a {
  color: #333;
}

.news .news_list .news_item a span {
  font-size: 16px;
  color: #888;
  margin-right: 50px;
}

/******************
  footer
******************/
footer {
  background: linear-gradient(90deg, #0C1C27 , #1F3654);
  padding: 30px 100px;
}

footer img {
  width: 15%;
}